        <title>{% if title %} WeSoSmart - {{ title }} {% else %} WeSoSmart {% endif %} </title>
        <link rel="stylesheet" type="text/css" href="/css/booksite.css">
        <link rel="stylesheet" href="/css/thickbox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" type="text/css" >
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/scripts/thickbox-compressed.js"></script>
        <script type="text/javascript" src="/scripts/encoding.js"></script>
		<script type="text/javascript" src="/scripts/courseselection.js"></script>
